img{
	width: 200px;
	height: 200px;
	background: #9358FE;
	animation-name: rectangulo;
	animation-duration: 10s;
	position: relative;
}

@keyframes rectangulo {
  0%{
		
		left: 0px;	
      top: 0px;

}

  25%{
  	left: 200px;	
      top: 0px;
    }
50%{
		left: 200px;	
      top: 200px;

}
  75%{left: 0px;
      top: 200px;
}
  100%{
		left: 0px;
      top: 0px;
}
}